{% extends 'base.html.twig' %}

{% block title %}
    {{ 'User details'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'Szczegóły użytkownika'|trans({'%id%': user.id|default('')}) }}</h1>
    {% if user is defined and user|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'Id'|trans }}</dt>
            <dd>{{ user.id }}</dd>
            <dt>{{ 'Email'|trans }}</dt>
            <dd>{{  user.email }}</dd>
            <dt>{{ 'Hasło'|trans }}</dt>
            <dd>{{  user.password }}</dd>
        </dl>
        <p>
            <a href="{{ url('post_index') }}" title="{{ 'action.back_to_posts'|trans }}" class="{{ 'btn btn-light' }}">
                {{ 'powrót do postów'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}